<!DOCTYPE html>
<html>
  <head lang="zh-CN">
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  	<meta >
    <title>Kael的个人简历</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/meyer-reset/2.0/reset.css">
    <link rel="stylesheet" href="/stylesheets/fullPage.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
     <div id="IM">
		<div class="section">
			<div class="indexBox">
				<div class="filterText">
					<div class="img">
						<img src="/images/IM.jpg" alt="">
					</div>
					<h6>前端实习生求职简历</h6>
					<h3>Hello I'M Kael</h3>

					<p class="nextIcon"><i class="fa fa-angle-double-down" id="nextDown"></i></p>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="aboutBox">
				<div class="filterText">
					<h3>About Me</h3>
					<div class="IMinfo">
						<img src="./images/me.JPG" alt="">
						<p class="IMname">马健</p>
						<div class="baseInfo">
						  <div class="title">
						  	<span class="baseText">基本信息</span>
						  </div>
						  <div class="infoItemBox">
						  	<div class="item">
						  		<p class="itemTextBox"><i class="fa fa-mortar-board icons"></i>&nbsp;<span class="text">河南城建学院</span></p>
						  	</div>
						  	<div class="item">
						  		<p class="itemTextBox"><i class="fa fa-flag-checkered icons"></i>&nbsp;&nbsp;<span class="text">计算机科学与技术</span></p>
						  	</div>
						  	
						  	<div class="item">
						  		<p class="itemTextBox"><i class="fa fa-phone icons"></i>&nbsp;&nbsp;<span class="text">13213832373</span></p>
						  	</div>
					       
						  	<div class="item">
						  		<p class="itemTextBox"><i class="fa fa-wechat icons"></i>&nbsp;&nbsp;<span class="text">13213832373</span></p>
						  	</div>
						  	<div class="item">
						  		<p class="itemTextBox"><i class="fa fa-envelope-o icons"></i>&nbsp;&nbsp;<span class="text">13213832373@163.com</span></p>
						  	</div>
						  	 <div class="item">
						  		<p class="itemTextBox"><i class="fa fa-map-marker icons"></i>&nbsp;&nbsp;<span class="text">河南 平顶山</span></p>
						  	</div>
						  	<div class="item">
						  		<p class="itemTextBox"><i class="fa fa-home icons"></i>&nbsp;&nbsp;<span class="text"><a href="http://114.67.151.28">我的个人主页</a></span></p>
						  	</div>
						  	<div class="item">
						  		<p class="itemTextBox"><i class="fa fa-github icons"></i>&nbsp;&nbsp;<span class="text"><a href="https://github.com/maliaomj">我的github</a></span></p>
						  	</div>
						  	<div class="clear"></div>

						  	
						  </div>
						</div>
						<div class="myselfIntroduce">
							<h6 >自我介绍</h6>
							<div class="introduction">
								<span>
									我是一个对理想有着执着追求的人，坚信是金子总会发光。大学毕业后的工作，让我在文案策划方面有了很大的提高，文笔流畅文笔流畅文笔流畅文笔流畅
								</span>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="section">
			<!-- 技能展示Skill -->
			<div class="skillBox">
				<div class="filterText">
					<h3>
						<span class="fa-stack fa-lg iconBox">
						  <i class="fa fa-wrench"></i>
						</span>
						<p>专业技能</p>
					</h3>
					<div class="skillInfo">
						<div class="front" id="front">
		                  <!-- 图表 -->
						</div>

						<div class="introductionText">
							<p class="text">
								说明:除了上述以外,本人对angular,less,typescript,webpack等有一定的了解和使用,对nodejs和java有一定的了解,熟练使用express框架和Linux命令。
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section">
			<h3>第四屏</h3>
			<p>这是最后一屏</p>
		</div>
		<div class="section">
			<h3>第四屏</h3>
			<p>这是最后一屏</p>
		</div>
	</div>


  </body>
  <script type="text/javascript" src="/javascripts/echarts.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.js"></script>
  <script type="text/javascript" src="/javascripts/fullPage.js"></script>
  <script type="text/javascript" src="/javascripts/main.js"></script>
  <script>
   
    $(document).ready(function(){
    	 // 初始化fullpage.js
    	$('#IM').fullpage();
		$.fn.fullpage.moveSectionDown();
		$.fn.fullpage.moveSectionDown();
		// 首页点击按钮事件
		$('#nextDown').on('click',()=>{
			$.fn.fullpage.moveSectionDown();
		});
		// skills echarts 初始化
		var frontChart = echarts.init($('#front')[0]);
		// 指定图表的配置项和数据
        var option = {
			    title : {
			        text: '前端技术汇总图',
			        subtext: '做过大Demo或做过项目的技术',
			        x:'center',
			        textStyle:{
			        	color:'white',
			        },
			        subtextStyle:{
			        	color:'white'
			        }
			    },
			    tooltip : {
			        trigger: 'item',
			        formatter: "{a} <br/>{b} : {c} ({d}%)"
			    },
			    legend: {
			        x : 'center',
			        y : 'bottom',
			        textStyle:{
			        	color:'white'
			        },
			        data:['HTML5','CSS','JS','jQuery','Ajax','BS','Vue','ReactNative']
			    },
			   
			    calculable : true,
			    series : [
			        
			        {
			            name:'detail',
			            type:'pie',
			            radius : [30, 110],
			            center : ['50%', '50%'],
			            roseType : 'area',
			            data:[
			                {value:60, name:'HTML5'},
			                {value:50, name:'CSS'},
			                {value:50, name:'JS'},
			                {value:35, name:'jQuery'},
			                {value:40, name:'Ajax'},
			                {value:35, name:'BS'},
			                {value:30, name:'Vue'},
			                {value:25, name:'ReactNative'}
			            ]
			        }
			    ]
			};
        // 使用刚指定的配置项和数据显示图表。
        frontChart.setOption(option);
		
    });
  </script>
</html>
